/* Gallery styles */

.gallery-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .gallery-header {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .gallery-description {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .gallery-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .gallery-image {
    width: 500px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .gallery-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .gallery-navigation button[type="button"] {
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
  }
  
  .gallery-navigation button[type="button"]:hover {
    background-color: #3e8e41;
  }

