/* Service Card Styles */ 
.services-container {
    max-width: 1200px;
    margin: 40px auto;
    display: flex; /* changed to flex */
    flex-direction: column; /* sets the layout direction to row (instead of column) */
    flex-wrap: wrap; /* allows cards to wrap to a new row */
    justify-content: space-between; /* evenly spaces the cards */
  }
  
  .service-card {
    background-color: #f9f9f9; /* same as before */
    border-radius: 10px;
    width: calc((100% - 40px) / 3); /* adjusted the width for better row distribution */
    margin: 20px;
    padding: 30px; /* same as before */
  }
  
  .service-card:hover {
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
  }
  
  /* Service Card Image Styles */ 
  .service-card-image {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  /* Service Card Text Styles */
  .service-card-text {
    font-size: 24px; /* same as before */
    font-weight: bold;
    color: #333; /* same as before */
    text-align: center;
    padding-bottom: 15px; /* same as before */
  }
  .service-card-description {
    font-size: 12px; /* same as before */
    font-weight: bold;
    color: #333; /* same as before */
    text-align: left;
    padding-bottom: 15px; /* same as before */
  }