
/* General reset for body to remove default margins and set background */
body {
  padding: 0;
  background: rgb(0, 0, 0); /* Clean white background or choose a color that fits your design */
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}

/* Styling for the navigation bar */
nav {
  background-color: #000000; /* Dark background for the navbar */
  color: white;
  display: flex;
  justify-content: space-between; /* Space between logo and navigation links */
  align-items: center;
}

.logo-link {
  text-decoration: none; /* Removes underline from the logo link */
  color: white; /* Ensures the logo is visible against the dark navbar */
}
.logo-link img {
  width: 250px; /* or any other desired size */
  height: 60px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .links {
  list-style: none;
  margin: 20px; /* adjust this value as needed */
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px; /* add this property to space out the links */
}





nav .links a {
  color: #ffffff; /* change the link color to your preference */
  text-decoration: none;
}

nav .links a:hover,
nav .links a:focus {
  color: #252525; /* change the hover/focus color to your preference */
}
.phone {
  margin-right: 10px;
}

@import "~bootstrap/dist/css/bootstrap.min.css";
